body {
    font-family: 'Moulpali', cursive;
    text-align: center;
    background-color: white;
    color: #171717;
}

#content {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    min-height: 70vh;
}

section{
    text-align: left;
    padding-bottom: 20px;
    margin: 20px;
    background-color: #EDEDED;
    border-radius: 3px;
    border: 2px solid #444444;
    box-shadow: 2px 2px 0 #444444;
}

section h2{
    text-align: center;
    margin: 0px;
    background-color: rgb(192, 221, 217);
}

.calendar-bar a {
    text-decoration: none;
    color: #171717;
    font-weight: bold;
}

.button {
    border-radius: 3px;
    border: 2px solid #444444;
    box-shadow: 2px 2px 0 #444444;
    min-width: 100px;
    background-color: rgb(192, 221, 217);
}

.button:hover {
    background-color: #444444;
    color: white;
    scale: 1.1;
}

.date {
    min-width: 120px;
}

.calendar {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 7 columns for the days of the week */
    gap: 5px;
    margin: auto;
}

.calendar ul.week {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for the days of the week */
    gap: 5px;
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for the days of the week */
    gap: 5px;
}

.day {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 2px solid #444444;
    box-shadow: 2px 2px 0 #444444;
    width: 40px;
    height: 40px;
    background-color: rgb(192, 221, 217);
    text-align: center;
    margin: auto;
}

.day.no-link {
    background-color: #a3a3a3; /* Grey color for days without a link */
}

.day:hover {
    background-color: #444444;
    color: white;
    scale: 1.1;
}

.day a {
    text-decoration: none;
    color: #171717;
}

.day.empty {
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.day.empty:hover {
    background-color: transparent;
}

/* loader */
.word-grid {
    display: grid;
    grid-template-columns: repeat(6, 54px);
    gap: 10px;
}

.grid-item {
    padding: 5px;
}
/*  */

.game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.theme-box {
    background-color: #f9f9f9;
    text-align: center;
    user-select: none;
    border-radius: 8px;
    border: 1px solid #bcbcbc;
    width: min(222px + 15vw,474px);
    height: 79px;
    margin: 30px;
}

.theme-box h2 {
    font-family: "Libre Franklin", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 10px;
    padding: 0;
}

.theme-box h3 {
    font-family: "Libre Franklin", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 3px;
    background-color:rgb(198, 230, 250);
}

.strand-box {
    text-align: center;
    justify-content: center;
    display: inline-block;
    margin: 30px;
}

.strand {
    font-family: "Libre Franklin", sans-serif;
    font-size: 30px;
    font-weight: 600;
    height: 36px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 54px); /* 6 columns */
    gap: 10px; /* Spacing between fields */
}

.letter {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 440;
    padding-top: 2px;
    width: 44px;
    height: 42px;
    font-size: 1.5em;
    /* padding: 5px; */
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.letter:hover {
    scale: 1.1;
}

.letter[data-clickable="true"] {
    cursor: pointer;
}

.letter[data-clickable="false"] {
    cursor: not-allowed;
}

.letter[data-selected="true"] {
    cursor: not-allowed;
    background-color: rgb(219, 216, 197);
}

.letter[data-correct="true"] {
    background-color: rgb(174, 223, 238);
}

.calendar-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 767px) {
    .game-container {
        flex-direction: column;
    }
}