.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns */
    gap: 10px; /* Spacing between fields */
}

.word-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns */
    gap: 10px; /* Spacing between fields */
    padding-left: 35%;
    padding-right: 35%;
}

.grid-item {
    padding: 5px; /* Padding around fields */
}

.letter {
    font-family: "Libre Franklin", sans-serif;
    padding-top: 2px;
    width: 44px;
    height: 42px;
    font-size: 1.5em;
    padding: 5px;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.letter[data-clickable="true"] {
    cursor: pointer;
    /* background-color: lightgreen; */
}

.letter[data-clickable="false"][data-selected="false"] {
    cursor: not-allowed;
    /* background-color: rgb(174, 223, 238) */
}

.letter[data-clickable="false"][data-selected="true"] {
    cursor: not-allowed;
    background-color: rgb(174, 223, 238)
}