{% extends "base.html" %}
{% block content %}

<h2>Calendar</h2>

<a href="{{ url_for('calendar', date=last_month) }}" class="button">Last Month</a>
<h3>{{ year }} - {{ month }}</h3>
<a href="{{ url_for('calendar', date=next_month) }}" class="button">Next Month</a>

<div class="calendar">
{% for strand in strands %}
    <a href="{{ url_for('strand', date=strand.date.strftime('%Y-%m-%d')) }}">{{ strand.date.day }}</a>
{% endfor %}
</div>

<section>
    <h2>Info</h2>
    <p>This site uses data from the New York Times Strands (Beta) game.</p>
</section>
{% endblock %}