{% extends "base.html" %}
{% block content %}

<h2>Calendar</h2>

<div class="calendar-bar">
    <a href="{{ url_for('home', date=last_month) }}" class="button">Last Month</a>
    <h3 class="date">{{ year }} - {{ month }}</h3>
    <a href="{{ url_for('home', date=next_month) }}" class="button">Next Month</a>
</div>

<div class="calendar">
    <ul class="week">
        <li>Sun</li>
        <li>Mon</li>
        <li>Tue</li>
        <li>Wed</li>
        <li>Thu</li>
        <li>Fri</li>
        <li>Sat</li>
    </ul>
    <div class="days">
        {% for _ in range(first_day_weekday) %}
            <div class="day empty"></div>
        {% endfor %}
        {% for day in range(1, num_days + 1) %}
            {% set date = year ~ '-' ~ month|e ~ '-' ~ '%02d'|format(day) %}
            {% set strand = strands.get(date) %}
            <div class="day {% if not strand %}no-link{% endif %}">
                {% if strand %}
                    <a href="{{ url_for('strand', date=date) }}">{{ day }}</a>
                {% else %}
                    {{ day }}
                {% endif %}
            </div>
            {% if (first_day_weekday + day) % 7 == 0 %}
                </div><div class="days">
            {% endif %}
        {% endfor %}
        {% for _ in range((first_day_weekday + num_days) % 7, 7) %}
            <div class="day empty"></div>
        {% endfor %}
    </div>
</div>

<section>
    <h2>Info</h2>
    <p>This site uses data from the New York Times Strands (Beta) game.</p>
</section>

{% endblock %}